*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*------------header-----------
Copyright 2020 (C) xericyy*/
.header{
    background: #00b3b3;
}
.navbar{
    padding-top: 20px !important;
}
.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;
}
.nav-link{
    color: #fff !important;
    font-size: 12px !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
}
.active-home{
    border-bottom: 2px solid #fff;
}
.nav-link:hover{
    border-bottom: 2px solid #fff;
}
.banner{
    margin-top: 8%;
    color: #fff;
}
.banner h1{
    margin: 80px 0 50px;
    font-weight: 600;
    font-size: 50px;
}
.banner img{
    max-height: 500px;
}
.img-fluid{
    border-radius: 7px;
}
.banner a{
    padding: 12px;
    width: 150px;
    display: inline-block;
    background: #00b3b3;
    text-decoration: none !important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.banner a:hover{
    color: #fff;
}
.express-btn{
    background: #fff !important;
    color: #00b3b3 !important;
    margin-right: 5px;
    box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
}
/*-----------------Services---------------*/
.service button{
    padding: 6px;
    width: 180px;
    margin: auto;
    display: block;
    color: #ef6c00;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    border-radius: 5px;
    padding: 15px 10px;
    border: #fff;
    box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
}
.service{
    margin: 75px 0;
}
.express-btn{
    align-self: center;
    background: #ef6c00 !important;
    color: #fff !important;
    margin-right: 5px;
    box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
}
.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.subtitle{
    text-align: center;
    margin-bottom: 70px;
    font-size: 15px
}
.service-box{
    padding: 0 35px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 15px 15px 2px rgba(213,213,213,0.5);
    border-radius: 5px;
    background: #f5f5f5;
    transition: .4s
}
.service-box img{
    width: 60px;
    margin-top: 65px;
    margin-bottom: 45px;
}
.service-box h6{
    margin-bottom: 40px;
    font-weight: bold;
}
.service-box p{
    font-size: 14px;
    color: #808080;
}
.fa-arrow-right{
    font-size: 22px !important;
    margin-top: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}
